/* 기본 스타일링 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f39c12;
}

.main-banner img {
    width: 100%;
    height: auto;
}

.product-list {
    padding: 20px;
    background-color: white;
}

.product-list h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.products {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    background-color: #fff;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 200px;
}

.product img {
    width: 100px;
    height: 200px;
    border-radius: 5px;
}

.product p {
    font-size: 18px;
    margin: 10px 0;
}

.product span {
    font-size: 20px;
    color: #e74c3c;
    font-weight: bold;
}

/* 장바구니 버튼 스타일링 */
.add-to-cart {
    margin-top: 15px;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-to-cart:hover {
    background-color: #2980b9;
}

/* 제품상세 버튼 스타일링 */
.product-detail {
    margin-top: 10px;
    padding: 10px;
    background-color: #95a5a6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.product-detail:hover {
    background-color: #7f8c8d;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

.img {
    width: 100px;
    height: 200px;
}
