/* 장바구니 아이템에 대한 스타일 */
.cart-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
    text-align: center;
    transition: transform 0.3s;
    margin-bottom: 20px;
}

.cart-item:hover {
    transform: translateY(-5px);
}

/* 삭제 버튼 스타일 */
.remove-item {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.remove-item:hover {
    background-color: #c0392b;
}
