* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #50b0ff;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f39c12;
}

.main-banner img {
    width: 100%;
    height: auto;
}


/* 장바구니 아이템에 대한 스타일 */
.cart-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
    text-align: center;
    transition: transform 0.3s;
    margin-bottom: 20px;
}

.cart-item-img {
    width: 100px;
    height: 100px;
}

.cart-item:hover {
    transform: translateY(-5px);
}

/* 삭제 버튼 스타일 */
.remove-item {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.remove-item:hover {
    background-color: #c0392b;
}

footer {
    background-color: #50b0ff;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}